.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title a {
  font-size: 140px;
  color: #4e6998;
  text-decoration: none;
  text-shadow: 0px 0px 20px #fff;
}


.title {
  color:white;
  font-size: 35px;
  background-image: url("../public/images/headBackground.jpg");
  text-align: center;
  text-shadow: 0px 0px 20px #707070;
}


.description {
  font-size: 20px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  height: 150px;
  width: 300px;
}

.card:hover {
  color: #5a7e9d;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
